
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{ 
    background-image: url('./image/bg-02\ 2.png');
    background-size: cover;
    background-position: center;
    width: 1240px;
}
.back1 {
    background-image: url('./image/back1.jpg');
}